<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zh.yen.novaeducation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NovaEducation">
   <activity android:name=".UnitedKingdomPage"></activity>
        <activity android:name=".RequestPage" />
        <activity android:name=".Preference" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".DescriptionPage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NavigationDrawer" />
        <activity android:name=".SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>